.acc-container{
    position: relative;
    top: 5rem;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 8rem;
}
 .acc-h1{
    text-decoration: underline;
    color: rgba(100, 114, 20, 0.612);
    position: absolute;
    align-items: center;
    left: 35rem;
}
@media (max-width:321px){
.acc-container{
    position: relative;
    top: 5rem;
    left: -9rem;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 4rem;
}
.acc-h1{
    position: relative;
    left: 15rem;
}
}
@media (max-width:376px){
.acc-container{
    position: relative;
    top: 5rem;
    left: -9rem;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 4rem;
}
.acc-h1{
    position: relative;
    left: 15rem;
}
}@media (max-width:426px){
.acc-container{
    position: relative;
    top: 5rem;
    left: -9rem;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 4rem;
}
.acc-h1{
    position: relative;
    left: 15rem;
}
}