.contact-us{
    height: 90vh;
    align-items: center;
    justify-content: center;
}
.contact-head{
    position: absolute;
    left: 35rem;
    text-decoration: underline;
    margin-top: 10px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}
.right-side-contact{
    position: absolute;
    right: 8rem;
    top: 12rem;
    text-align: center;
}
.g-map{
    position: relative;
    top: -2rem;
    
}
.left-side-contact{
    position: absolute;
    left: 12rem;
}
.icons2{
    position: absolute;
    gap: 2rem;
    top: 10rem;
    font-size: 2.3rem;
    display:flex;
    flex-direction: column;
}
.icons2 a{
    display: flex;
}
a:nth-child(3){
    color: rgb(181, 55, 175);
}
.two{
    color:limegreen; 
}
.three{
    color: rgb(181, 55, 175);
}
a:nth-child(2){
    position: relative;
    color:limegreen;
}
a:nth-child(1){
    color: rgb(0, 162, 255);
}
a:nth-child(4){
    color: rgb(0, 102, 255);
}
a:nth-child(5){
    color: rgb(255, 132, 0);
}
a:nth-child(6){
    color: rgb(255, 0, 85);
}
a:nth-child(7){
    color: rgb(255, 183, 0);
}
a:nth-child(8){
    color: rgb(85, 0, 255);
}
.fb-p{
    position: relative;
    left: 3rem;
    display: flex;
    font-size: 20px;
    width: 20em;
    top: -4rem;
    cursor: pointer;
}
@media (max-width:1025px){
    .icons2{
        display: flex;
        position: relative;
        top: 6rem;
    }
    .g-map{
        position: relative;
        left: 15rem;
        top: 0rem;
    }
    .right-side-contact h2{
        position: relative;
        left: 15rem;
    }
}
@media (max-width:769px){
    .icons2{
        display: flex;
        position: relative;
        top: 6rem;
        left: -8rem;
        line-height: 10px;
    }
    .g-map{
        position: relative;
        left: -12rem;
        width: 50px;
        top: 0rem;
    }
    .right-side-contact h2{
        position: relative;
        left: 5rem;
    }
    .contact-head h3{
        display: flex;
        position: relative;
        flex-direction: row;
        left: -10rem;
        top: -6rem;
        width: 20rem;
    }
}

@media (max-width:426px){
    .icons2{
        display: flex;
        position: relative;
        top: 6rem;
        left: -8rem;
        line-height: 10px;
    }
    .g-map{
        position: relative;
        left: 10rem;
        width: 50px;
        top: 0rem;
    }
    .right-side-contact h2{
        position: relative;
        left: 19rem;
    }
    .contact-head h3{
        display: flex;
        position: relative;
        flex-direction: row;
        left: -15rem;
        top: -8rem;
        width: 20rem;
    }
}
@media (max-width:376px){
    .icons2{
        display: flex;
        position: relative;
        top: 6rem;
        left: -8rem;
        line-height: 10px;
    }
    .g-map{
        position: relative;
        left: 13rem;
        width: 50px;
        top: 0rem;
    }
    .right-side-contact h2{
        position: relative;
        left: 19rem;
    }
    .contact-head h3{
        display: flex;
        position: relative;
        flex-direction: row;
        left: -15rem;
        top: -8rem;
        width: 20rem;
    }
}
@media (max-width:321px){
    .icons2{
        display: flex;
        position: relative;
        top: 26rem;
        left: -8rem;
        line-height: 10px;
        font-size: 50px;
    }
    .g-map{
        position: relative;
        left: 10rem;
        width: 200px;
        top: 0rem;
    }
}