.Infinix-container{
    position: relative;
    right: 12rem;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
@media (max-width:321px){
    .Infinix-container{
      position: relative;
    left: -32rem;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);    
    }
    
}
@media (max-width:426px){
    .Infinix-container{
      position: relative;
    left: -32rem;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);    
    }
}