.menu-class{
    position: absolute;
    right: 4rem;
    background: rgba(41, 37, 37, 0.991);
    padding: 2rem 4rem;
    z-index: 1;
    transition: 2s ease-in-out;
}
.menu-class ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.menu-class li a{
    line-height: 5rem;
    display: block;
    font-size: 30px;
}
.tap-me-menu{
    position: absolute;
    top: 3rem;
    right: 2rem;
}
.mlog{
    font-size: 1.5rem;
    background: transparent;
    border: 2px white solid;
}
.mlog:hover{
    transform:scale(1.34);
    transition: 1.065s ease-in-out;
    border: 2px limegreen solid;
    background: limegreen;
}
@media (max-width:320px) {
    .menu-class{
        z-index: 1;
        position: absolute;
        align-items: center;
        justify-content: center;
        left: 5rem;
        top: 5rem;
        width: 80%;
    }
    .tap-me-menu{
        position: absolute;
        left:4rem;
        top: -3em;
        font-size: 2rem;
    }
}
@media(max-width: 376px) {
    .tap-me-menu{
        position: relative;
        top: -7rem;
        font-size: 2.5rem;
        right: -74rem;
    }
    .menu-class{
        position: absolute;
        right: -55rem;
        top: 10rem;
    }
}
@media (max-width: 426px) {
    .tap-me-menu{
        position: relative;
        font-size: 1.5rem;
        left: 2rem; 
        top: 0rem;
    }
    .menu-class{
        position: absolute;
        right: -5rem;
        top: 13rem;
    }
}
@media (max-width: 769px) {
    .tap-me-menu{
        display: block;
        position: relative;
        left: 2rem;
        top: 0rem;
    }
    .menu-class{
        position: absolute;
        left: 2rem;
        width: 40%;
    }
}
@media (width: 1024px) {
    .tap-me-menu{
        display: none;
    }
}
@media (width: 1440px) {
    .tap-me-menu{
        display: none;
    }
    .menu-class{
        display: none;
    }
}