h2{
    position: relative;
    left: 2rem;
}
.Nokia-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    position: relative;
    
}
.saka3{
    position: absolute;
    top: -6rem;
    
}
.hr{
    position: relative;
    left: -35rem;
    width: 15rem;
}