.all{
    position: relative;
    left: -3rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0.5rem;
}
.on-sale-products{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-left: 2rem;
    margin-top: 2rem;
    
}
.on-sale-products img{
    width: 200px;
}
.item-sale-1{    
    padding: 50px 20px;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    margin-left: 4rem;
}
.item-sale-1:hover{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}
.item-sale-2:hover{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}
.item-sale-3:hover{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}
.item-sale-4:hover{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}
.hot{
    position: relative;
    left: 5rem;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.now{
    color: red;
    font-size: 20px;
    font-weight: 600;
}
.then{
    text-decoration: line-through;
    color: grey;
    font-size: 18px;
    font-weight: 500;
}
*{
    max-width: 1240px;
    margin: 0 ,0;
}
.popular{
    position: relative;
    top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular h2{
    color:var(--primary-color);
    font-weight: 600;
}
.popular-item{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(250px, 1fr));
    gap: 4rem;
}
.products{
    position: relative;
    
    
    text-align: justify;
}
.products h1{
    position: relative;
}
input{
    position: relative;
    left: 35rem;
    top: -5rem;
    background: white;
    width:300px;
    padding: 6px 14px;
    border-radius: 20px;
    color: black;
}
.result-template2{
    position: relative;
}
@media(max-width:321px){
    .on-sale-products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .all{
        position: relative;
        left: -7rem;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 15rem;
    }
}
@media (max-width:376px){
    .on-sale-products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .all{
        position: relative;
        left: -8rem;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 15rem;
    }
}
@media (max-width:426px){
    .on-sale-products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .all{
        position: relative;
        left: -7rem;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 15rem;
    }
}
