.menu-class1{
    position: absolute;
    right: 4rem;
    background: rgba(41, 37, 37, 0.991);
    padding: 2rem 4rem;
    z-index: 1;
    transition: 2s ease-in-out;
}
.menu-class1 ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.menu-class1 li a{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
}
.tap-me-menu1{
    position: absolute;
    top: 3rem;
    right: 2rem;
}
@media (max-width:320px) {
    .menu-class1{
        z-index: 1;
        position: absolute;
        align-items: center;
        justify-content: center;
        left: 45rem;
        width: 80%;
    }
    .tap-me-menu1{
        position: absolute;
        left:40rem;
        top: 1em;
        font-size: 2rem;
    }
}
@media(max-width: 375px) {
    .tap-me-menu1{
        position: relative;
        top: -8rem;
        font-size: 2.5rem;
        left: 46rem;
    }
    .menu-class1{
        position: absolute;
        right: -55rem;
        top: 10rem;
    }
}
@media (max-width: 426px) {
    .tap-me-menu1{
        position: relative;
        font-size: 1.5rem;
        left: 47rem;
        top: -2.7em;
    }
    .menu-class1{
        position: absolute;
        left: 30rem;
        top: 15rem;
        width: 40%;
    }
}
@media (max-width: 769px) {
    .tap-me-menu1{
        display: block;
        position: relative;
        left: 43rem;
        top: -4rem;
    }
    .menu-class1{
        position: absolute;
        right: -13rem;
        width: 30%;
        top: 11rem;
    }
}
@media (width: 1024px) {
    .tap-me-menu1{
        display: none;
    }
}
@media (width: 1440px) {
    .tap-me-menu1{
        display: none;
    }
    .menu-class1{
        display: none;
    }
}